*,
*::after,
*::before {
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

main {
    flex-grow: 1;
}

header {
    background: url(../img/kartinkavshapke.png) no-repeat right top;
    background-size: auto 100%;
}

.container {
    max-width: 1112px;
    margin: auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 144px;
    margin-right: 425px;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 44px;
    margin-left: 425px;
}

.nav-item1 {
    margin-left: 36px;
    font-size: 15px;
    z-index: 10;
    margin-top: 47px;
}

.nav-item2 {
    margin-left: 36px;
    font-size: 15px;
    z-index: 10;
    margin-top: 47px;
}

.nav-item3 {
    margin-left: 36px;
    font-size: 15px;
    z-index: 10;
    margin-top: 47px;
}

.nav-item4 {
    margin-left: 36px;
    font-size: 15px;
    z-index: 10;
    margin-top: 47px;
}

.nav-item5 {
    margin-left: 36px;
    font-size: 15px;
    z-index: 10;
    margin-top: 47px;
}

.nav-item6 {
    margin-left: 36px;
    font-size: 15px;
    z-index: 10;
    margin-top: 47px;
}

.website {
    font-size: 48px;
    max-width: 524px;
    z-index: 10;
}

.realsatate {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 35px;
    margin-right: 510px;
    z-index: 10;
}

.knopka {
    background-color: #3456FE;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    border: none;
    padding: 5px 2px;
    margin-top: 45px;
    padding: 7px 39px;
    z-index: 10;
}

.knopka:hover {
    background-color: #23379b;
}

.offers {
    font-size: 38px;
    max-width: 432px;
    position: relative;
    top: 130px;
    margin-bottom: 42px;
}

.website2 {
    font-size: 18px;
    font-weight: lighter;
    position: relative;
    left: 620px;
    max-width: 506px;
    margin-bottom: 42px;
}

.fotkidomov {
    max-width: 1112px;
    margin: 0 auto;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}

.Esther {
    font-size: 20px;
    font-weight: bolder;
}

.sixnol {
    font-weight: bolder;
}

.Kristen {
    font-size: 20px;
    font-weight: bolder;
}

.ninedva {
    font-weight: bolder;
}

.Cameron {
    font-size: 20px;
    font-weight: bolder;
}

.onenol {
    font-weight: bolder;
}

.Thornridge {
    font-size: 20px;
    font-weight: bolder;
}

.onenolsix {
    font-weight: bolder;
}

.Darrell {
    font-size: 20px;
    font-weight: bolder;
}

.fourseven {
    font-weight: bolder;
}

.Robert {
    font-size: 20px;
    font-weight: bolder;
}

.dvanine {
    font-weight: bolder;
}

.Creating {
    margin-top: 100px;
    font-size: 38px;
    font-weight: bolder;
    max-width: 403px;
}

.Websitethatprovides {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 40px;
    margin-right: 750px;
}

.RealEstate {
    margin-top: 154px;
    font-size: 24px;

}

.ReadMore {
    margin-top: 34px;
}

.villa1 {
    padding-left: 206px;
    position: relative;
    left: 220px;
    bottom: 400px;
    z-index: 1;
}

.knopkadva {
    background-color: #3456FE;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    border: none;
    padding: 5px 2px;
    margin-top: 45px;
    padding: 7px 39px;
    z-index: 10;
}

.knopkadva:hover {
    background-color: #23379b;
}

.CreatingHomeForFamilies {
    background-color: #060928;
    margin-bottom: 700px;
    padding-left: 200px;
}

.Creatingdva {
    position: relative;
    top: 42px;
    font-size: 38px;
    color: white;
    position: relative;
    top: 42px;
    margin-right: 1250px;
}

.RealEstateEmpire {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    position: relative;
    right: -550px;
    top: 200px;
    margin-right: 700px;
}

.Websitethatprovidesservices {
    font-size: 18px;
    color: white;
    font-weight: lighter;
    position: relative;
    right: -550px;
    top: 250px;
    margin-right: 1230px;
}

/* .knopkatri {
    background-color: #3456FE;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    border: none;
    padding: 5px 2px;
    position: relative;
    top: 300px;
    left: 550px;
    padding: 7px 39px;
    z-index: 10;
}

.knopkatri:hover {
    background-color: #23379b;
} */

/* .a {
    position: relative;
    left: -197px;
    top: -88px;
}

.b {
    position: relative;
    left: -320px;
    margin-bottom: 88px;
}

.c {
    position: relative;
    left: -290px;
    margin-bottom: 88px;
}

.d {
    position: relative;
    right: 270px;
    margin-bottom: 88px;
}

.e {
    position: relative;
    left: -290px;
    margin-bottom: 88px;
} */

.Webuild {
    font-size: 38px;
    font-weight: bolder;
    position: relative;
    max-width: 612px;
    margin: 0 auto;
    bottom: 63px;
    text-align: center;
}

.webuild {
    position: relative;
    bottom: 295px;
}

.fotka2 {
    position: relative;
    display: block;
    margin: 0 auto;
}

.Real {
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.Web {
    font-size: 18px;
    position: relative;
    font-weight: lighter;
    max-width: 728px;
    left: 195px;
    margin-top: 40px;
}

.footer {
    background-color: #3456FE;
}

.logotip {
    margin-top: 253px;
}

.web2 {
    position: relative;
    max-width: 373px;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    margin-top: 340px;
    right: 164px;
}
.International {
    font-size: 20px;
    color: white;
    margin-top: 340px;
    margin-right: 80px;
    bottom: 53px;
}
.Partner {
    font-size: 20px;
    color: white;
    position: relative;
    left: 80px;
    margin-top: 340px;
    margin-right: 80px;
    bottom: 53px;
}
.stolbik1 {
    position: relative;
    color: white;
}
/* .countries {
    position: relative;

    font-weight: lighter;
    font-size: 20px;
} */

.footer .container {
    display: flex;
    flex-direction: row;
}